<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title><!-- Title of the webpage -->
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bargain Book <%=shopName%></h1>
    <p>books for sale</p>

    <ul>
        <% for (let book of availableBooks){%><!-- Loop through availableBooks -->
            <li><%= book.name%> - <%= book.price %></li><!-- Display book name and price -->
            <% } %>
    </ul>
  </body>
</html>