<!doctype html>
<html>
  <head>
    <title>Search <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <form action="/search-result" method="GET">
      <p>What book do you want?</p><!-- Prompt for user input -->
      <input id="search-box" type="text" name="keyword" value="Default"><!-- Input field for entering search keyword -->
      <input type="submit" value="Search" ><!-- Submit button to initiate the search -->
    </form>
  </body>
</html>